{% extends "base.html" %}

{% block title %}Quiz List{% endblock %}

{% block content %}
  <h2>Available Quizzes</h2>
  {% if latest_quiz_list %}
    <ul>
      {% for quiz in latest_quiz_list %}
        <li>
          <a href="{% url 'quiz_detail' quiz.id %}">{{ quiz.title }}</a>
          <br>
          <small>Created by: {{ quiz.creator.username }} | Date: {{ quiz.created_at|date:"F d, Y H:i" }}</small>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No quizzes are available.</p>
  {% endif %}
  
  {% if user.is_authenticated %}
    <a href="{% url 'create_quiz' %}">Create New Quiz</a>
  {% endif %}
{% endblock %}